@model ForumRecrutementApp.Models.Candidat

<h2>Créer un Candidat</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
  @*   <div class="form-group">
        <label for="Id">Id</label>
        <input asp-for="Id" class="form-control" placeholder="Id" required />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label for="Nom">Nom</label>
        <input asp-for="Nom" class="form-control" placeholder="Nom" required />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Prenom">Prénom</label>
        <input asp-for="Prenom" class="form-control" placeholder="Prénom" required />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input asp-for="Email" class="form-control" type="email" placeholder="Email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Competences">Compétences</label>
        <textarea asp-for="Competences" class="form-control" placeholder="Compétences" required></textarea>
        <span asp-validation-for="Competences" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="CVFile">CV</label>
        <input asp-for="CVFile" type="file" class="form-control" />
        <span asp-validation-for="CVFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ForumId" class="control-label">Forum</label>
        <select asp-for="ForumId" class="form-control" asp-items="ViewBag.Forums">
            <option value="">-- Select Forum --</option>
        </select>
        <span asp-validation-for="ForumId" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>
